@model Ticket

<!-- TBC add a breadcrumb partial -->


<div class="card shadow rounded p-4">
    <h3>Edit Ticket</h3>

    <form asp-action="TicketEdit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
        <!-- hide non editable values -->
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="StudentId"/>

        <div class="mt-3">
            <label asp-for="Issue" class="form-label"></label>      
            <textarea rows="5" asp-for="Issue" class="form-control"></textarea>
            <span asp-validation-for="Issue" class="text-danger"></span>
        </div>
        
        <div class="mt-3">           
            <button type="submit" class="btn btn-primary" aria-label="save">Save</button>
            <a class="btn btn-secondary" asp-action="Details" asp-route-id=@Model.StudentId aria-label="cancel">Cancel</a>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}